.Project-page {
  padding: 20px 20px;
  &__title {
    padding-left: 20px;
    display: flex;
  }

  .tasks-container {
    padding: 20px 0;
    overflow-x: scroll;

    .ant-row {
      flex-wrap: nowrap;
    }
  }

  .add-section-button {
    margin-left: 20px;
    margin-top: 10px;
    background-color: transparent;
    color: rgba(0, 0, 0, 0.85);
    border: 1px solid grey;
    border-radius: 5px;
    padding: 0 35px;
    height: 28px;
    opacity: 0.6;
    &:hover {
      opacity: 1;
    }
  }
}
