.color-palette {
  display: flex;
  flex-wrap: wrap;
  row-gap: 10px;
  max-width: 200px;
  justify-content: center;
}

.labels-popover-content {
  display: flex;
  flex-direction: column;

  .icon-button {
    margin-left: auto;
    margin-right: 3px;
    margin-bottom: 10px;
    padding: 4px 15px;
  }
}
