@import url("https://fonts.googleapis.com/css2?family=Rubik&display=swap");

:root {
  --primary-text-color: #323338;
}

* {
  box-sizing: border-box;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 0;
  }
}

body {
  font-family: "Rubik", sans-serif;
}

.App {
  color: var(--primary-text-color);
}

.ant-btn-primary {
  background-color: #3532cd;
  border-color: #3532cd;
}
.required-field-message {
  color: red;
  font-size: 11px;
}

.ant-tag {
  line-height: 18px;
  border: none;
}

.ant-modal-body {
  max-height: 70vh;
  overflow: auto;
}

.icon-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  margin: 0;
  color: rgba(0, 0, 0, 0.54);
  transition: color 0.3s, background-color 0.3s;
  &:hover {
    color: rgba(0, 0, 0, 0.88) !important;
    background-color: rgba(0, 0, 0, 0.06) !important;
    text-decoration: none;
  }
}
