.new-task-modal {
  &__form {
    display: flex;
    flex-direction: column;
  }
  &__buttons-wrapper {
    display: flex;
    justify-content: end;
  }
}
.input-field-title {
  font-size: 12px;
  margin-top: 20px;
  margin-bottom: 5px;
}
