.header {
  height: 50px;
  line-height: 50px;
  background: #eceff8;
  color: var(--primary-text-color);
  .header-container {
    display: flex;
    justify-content: start;
    height: inherit;

    h2 {
      margin: 0;
      font-weight: 600;
    }
  }
  .ant-menu-item a {
    // color: white;
  }
  .ant-menu-item:hover {
    opacity: 1;
    color: #1272cc;
  }
  .ant-menu-title-content {
    // color: white;
  }
  .ant-menu-overflow-item span:hover {
    opacity: 1;
    color: #1272cc;
  }
}
.menu {
  width: 250px;
  padding: 0 20px;
  line-height: 63px;
  border: 0;
  background: transparent;
}
