.Card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px;
  min-height: 100px;
  border-radius: 3px;
  margin: 5px;
  cursor: pointer;
  background-color: white;
  box-shadow: 0px 1px 1px rgb(88, 88, 88);

  .card-name {
    margin-bottom: 10px;
    font-size: 13px;
  }
  .card-label {
    font-size: 11px;
    width: fit-content;
    margin-bottom: 5px;
  }
  .card-img > img {
    width: 100%;
    max-height: 200px;
    object-fit: contain;
    border-radius: 3px;
  }
  .ant-divider {
    margin: 10px 0;
  }
  footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .footer-left {
      font-size: 12px;
    }
    .footer-right {
      display: flex;
      align-items: center;
    }
  }
}
